{% extends 'base.html.twig' %}

{% block body %}
    <h1>Cakes for Birthdays</h1>
    <main>
        <div class="bolo">
            <img src="{{ asset('imagens/bolo-aniversario-kinder.jpg') }}"/>
            <h2>Bolo de Aniversário com Kinder Bueno</h2>
            <p class="preço"><strong>Preço: </strong>15 €/kilo</p>
            <p class="description">Contém creme de branco no seu interior com massa de chocolate !! Delicioso bolo com decoração de Kinder Bueno</p>
        </div>
        <div class="bolo">
            <img src="{{ asset('imagens/bolo-aniversario-mms.jpg') }}" />
            <h2>Bolo de Aniversário com Kit Kat</h2>
            <p class="preço"><strong>Preço: </strong>17 €/kilo</p>
            <p class="description">Contém um creme de ovo no seu interior com masssa de pão de ló de chocolate. Impossivel de resistir a sua decoração feita de Mm's e Kit Kat</p>
        </div>
        <div class="bolo">
            <img src="{{ asset('imagens/bolo-aniversario-morangos.jpg') }}" />
            <h2>Bolo de Aniversário com morangos</h2>
            <p class="preço"><strong>Preço: </strong>12 €/kilo</p>
            <p class="description">Contém um creme de ovo no seu interior com masssa de pão de ló. Impossivel de resistir a sua decoração feita de Morangos</p>
        </div>
        <div class="bolo">
            <img src="{{ asset('imagens/bolo-aniversario-minions.jpg') }}" />
            <h2>Bolo de Aniversário Personalizado</h2>
            <p class="preço"><strong>Preço: </strong>20 €/kilo</p>
            <p class="description">Poderá ser decidido no ato da encomenda o seu interior e seu exterior.</p>
        </div>
        <div class="bolo">
            <img src="{{ asset('imagens/bolo-aniversario-stiche.jpg') }}" />
            <h2>Bolo Personalizado</h2>
            <p class="preço"><strong>Preço: </strong>20 €/kilo</p>
            <p class="description">Poderá ser decidido no ato da encomenda o seu interior e seu exterior.</p>
        </div>
        <div class="bolo">
            <img src="{{ asset('imagens/bolo-aniversario-chocolates.jpg') }}" />
            <h2>Bolo de Aniversário (Completo)</h2>
            <p class="preço"><strong>Preço: </strong>A definir ...</p>
            <p class="description">Ainda em testes</p>
        </div>s
    </main>
{% endblock %}